/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
        );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


#logo {
    margin: 15% 0 0 30%;
    max-width: 50px;
}

section.container {
    text-align: center;
}

#articles_container > div > div {
    text-align: left;
}

#articles_container > div > div > span:nth-child(2) {
    padding: 0 0 0 2%;
}

div.nav-wrapper>ul.hide-on-med-and-down {
    margin-left: 38%;
}

#articles > div > div.card {
    max-width: 60%;
    margin: 2% auto;
}

div.file-field.input-field.col.s12 a>i, #submit>i {
    margin-right: 10px;
} 

div.file-field.input-field.col.s12 a {
    display: inline-flex;
}

div.file-field.input-field.col.s12 a p, #submit p {
    margin: auto;
}

#submit {
    display: inline-flex;
    margin-top: 3%;
}

#add_article > form > div.file-field.input-field.col.s12 a {
    margin: auto;
    margin-right: 1%;
    float: none;
}

div.card-content img, div.card-content p {
    display: inline-block;
    vertical-align: top;
}

.card .card-content>p {
    width: 100%;
}

.card .card-content {
    padding-top: 10px;
}

.card .card-title {
    margin-right: 2%;
}

.card .card-content img {
    margin: 0 3% 3% 0;
}

.card .card-action {
    padding: 0;
}

.positionData {
    font-size: 1em;
    font-weight: bold;
}
/* google map style sheet */
.geolocation {
    margin-top: 6%;
}

.article_content {
    margin-top: 3%;
}

#img_preview {
    margin: 1.5% auto;
    max-width: 60%;
}


#hidder {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    width: 0;
    height: 80px;
    border-left: 15px solid #2face4;
    border-right: 15px solid #2face4;
    border-bottom: 10px solid transparent;
    z-index: 100;
}

#hidder i {
    position: absolute;
    cursor: pointer;
    font-size: 2.5em;
    right: -16px;
    top: 13px;
}

div.fixed-action-btn.horizontal {
    display: none;
}



form>div>div>input+label {
    text-align: left;
}

@media screen and (max-width: 993px) {
    #articles > div > div.card.blue.darken-1.darken-3 {
        max-width: 100%;
    }
    #logo {
        margin: 7% 0 0 0;
        max-width: 50px;
    }
    #add_article > form > div.file-field.input-field.col.s12 a {
        margin-bottom: 3%;
    }
    div.fixed-action-btn.horizontal {
        display: inline;
    }
    #hidder {
        display: none;
    }
}